*
{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #F4F4F4;

}
.Head-Container
{
    padding-top: 15px;
    display: flex;
    /* background-color: black; */
}
.Icon
{
    font-size: 22px;
    margin-left: 4vw;
    color: white;
    font-weight: 800;
}
.Signs img
{
    width: 20vw;
    height: 6vh;
    margin-left: 25vw;
}
.mid
{
    background-color: black;
    color: white;
    margin-left: 5vw;
    margin-top: 4vh;
}
.smft
{
    font-size: 36px;
    font-weight: 700;
    font-style: Montserrat;
}
.searchbar
{
    background-color: white;
    width: 94%;
    height: 6vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 2vh;
}
#searchbar
{
    width: 30vw;
    height: 5vh;
}
.Post
{
    width: 20vw;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    position: relative;
}
.Post-Image
{
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}
.Posts-Container
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    color: white;
}